{% set header_title = 'Documentation for GoodGames HTML Template' %}
{% set background_top = 'assets/images/bg-top-3.png' %}
{% set breadcrumbs = [
    '<a href="index.html">Home</a>',
    '<span>Documentation</span>'
] %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
    <div class="container text-center">

        <a href="https://nkdev.info/docs/goodgames-html/" target="_blank" class="nk-btn nk-btn-x3 nk-btn-rounded nk-btn-color-dark-2">
            <span class="icon"><i class="ion-help-buoy"></i></span>
            <span>Documentation Moved Here</span>
        </a>

    </div>

    <div class="nk-gap-2"></div>
{% endblock %}
