{% set header_title = 'Teams' %}
{% set background_top = 'assets/images/bg-top-3.png' %}
{% set breadcrumbs = [
    '<a href="index.html">Home</a>',
    '<a href="tournaments.html">Tournaments</a>',
    '<span>Teams</span>'
] %}
{% extends 'layouts/layout-1.html' %}

{% block content %}
<div class="container">
    <div class="row vertical-gap">
        <div class="col-lg-8">

            <!-- START: Teams -->
            <div class="nk-team">
                <div class="nk-team-logo">
                    <img src="assets/images/team-1-lg.jpg" alt="">
                </div>
                <div class="nk-team-cont">
                    <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> SK Telecom T1</h3>
                    <h4 class="h6 mb-5">Members:</h4>
                    <a href="tournaments-teammate.html">Duke</a>, <a href="tournaments-teammate.html">Bangi</a>, <a href="tournaments-teammate.html">Faker</a>, <a href="tournaments-teammate.html">Bang</a>, <a href="tournaments-teammate.html">Wolf</a>

                    <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
                </div>
            </div>

            <div class="nk-team">
                <div class="nk-team-logo">
                    <img src="assets/images/team-2-lg.jpg" alt="">
                </div>
                <div class="nk-team-cont">
                    <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> Team Solomid</h3>
                    <h4 class="h6 mb-5">Members:</h4>
                    <a href="tournaments-teammate.html">Duke</a>, <a href="tournaments-teammate.html">Bangi</a>, <a href="tournaments-teammate.html">Faker</a>, <a href="tournaments-teammate.html">Bang</a>, <a href="tournaments-teammate.html">Wolf</a>

                    <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
                </div>
            </div>

            <div class="nk-team">
                <div class="nk-team-logo">
                    <img src="assets/images/team-3-lg.jpg" alt="">
                </div>
                <div class="nk-team-cont">
                    <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> Cloud 9</h3>
                    <h4 class="h6 mb-5">Members:</h4>
                    <a href="tournaments-teammate.html">Duke</a>, <a href="tournaments-teammate.html">Bangi</a>, <a href="tournaments-teammate.html">Faker</a>, <a href="tournaments-teammate.html">Bang</a>, <a href="tournaments-teammate.html">Wolf</a>

                    <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
                </div>
            </div>

            <div class="nk-team">
                <div class="nk-team-logo">
                    <img src="assets/images/team-4-lg.jpg" alt="">
                </div>
                <div class="nk-team-cont">
                    <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> Counter Logic Gaming</h3>
                    <h4 class="h6 mb-5">Members:</h4>
                    <a href="tournaments-teammate.html">Duke</a>, <a href="tournaments-teammate.html">Bangi</a>, <a href="tournaments-teammate.html">Faker</a>, <a href="tournaments-teammate.html">Bang</a>, <a href="tournaments-teammate.html">Wolf</a>

                    <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
                </div>
            </div>

            <div class="nk-team">
                <div class="nk-team-logo">
                    <img src="assets/images/team-1-lg.jpg" alt="">
                </div>
                <div class="nk-team-cont">
                    <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> fnatic</h3>
                    <h4 class="h6 mb-5">Members:</h4>
                    <a href="tournaments-teammate.html">Duke</a>, <a href="tournaments-teammate.html">Bangi</a>, <a href="tournaments-teammate.html">Faker</a>, <a href="tournaments-teammate.html">Bang</a>, <a href="tournaments-teammate.html">Wolf</a>

                    <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
                </div>
            </div>

            <div class="nk-team">
                <div class="nk-team-logo">
                    <img src="assets/images/team-2-lg.jpg" alt="">
                </div>
                <div class="nk-team-cont">
                    <h3 class="h5 mb-20"><span class="text-main-1">Team:</span> Origen</h3>
                    <h4 class="h6 mb-5">Members:</h4>
                    <a href="tournaments-teammate.html">Duke</a>, <a href="tournaments-teammate.html">Bangi</a>, <a href="tournaments-teammate.html">Faker</a>, <a href="tournaments-teammate.html">Bang</a>, <a href="tournaments-teammate.html">Wolf</a>

                    <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
                </div>
            </div>
            <!-- END: Teams -->

        </div>
        <div class="col-lg-4">
            <!--
                START: Sidebar

                Additional Classes:
                    .nk-sidebar-left
                    .nk-sidebar-right
                    .nk-sidebar-sticky
            -->
            <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                {% include "shared/sidebar-tournaments.html" %}
            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>
</div>

<div class="nk-gap-2"></div>
{% endblock %}
